<div
  class="beauty-section banner"
>
  <div class="wrapper">
    <div
      class="
        grid grid-cols-[60%_auto] gap-8
        h-screen
        *:rounded-t-[4rem] *:h-full
      "
    >
      <div
        class="bg-[#f00]"
      ></div>
      <div
        class="bg-[#f00]"
      ></div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "BeautyBanner",
  "settings": [
    {
      "type": "color",
      "id": "col1_bg_color",
      "label": "Column1 background color",
      "default": "#000"
    }
  ],
  "blocks": [
    {
      "type": "beautyText",
      "name": "Beauty Text",
      "limit": 11,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Color",
          "default": "#000"
        },
        {
          "type": "checkbox",
          "id": "override_color",
          "label": "Override theme Text-color",
          "default": false
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Beauty Banner"
    }
  ]
}
{% endschema %}
