<div
  class="beauty-section banner"
>
  <style>
    .col .content {
      width: auto;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 4rem;
      margin: 0 12rem;
    }
  </style>

  <div class="wrapper">
    <div
      class="
        grid grid-cols-[60%_auto] gap-8
        h-screen
        *:rounded-t-[4.5rem] *:h-full *:p-4 *:bg-center *:bg-cover
        *:bg-[{{ section.settings.bg_color }}]
      "
    >
      {%- render 'beauty-banner-column', column: 'first' -%}
      {%- render 'beauty-banner-column', column: 'second' -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Beauty banner",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#fff"
    },
    {
      "type": "image_picker",
      "id": "col1_image",
      "label": "Colum1 Image"
    },
    {
      "type": "image_picker",
      "id": "col2_image",
      "label": "Colum2 Image"
    }
  ],
  "blocks": [
    {
      "type": "beautyHeading",
      "name": "Beauty Heading",
      "limit": 2,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>heading</p>"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Color",
          "default": "#000"
        },
        {
          "type": "radio",
          "id": "column_placement",
          "label": "column_placement",
          "options": [
            {
              "value": "first",
              "label": "first"
            },
            {
              "value": "second",
              "label": "second"
            }
          ],
          "default": "first"
        }
      ]
    },
    {
      "type": "beautyText",
      "name": "Beauty Text",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "text"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Color",
          "default": "#000"
        },
        {
          "type": "radio",
          "id": "column_placement",
          "label": "column_placement",
          "options": [
            {
              "value": "first",
              "label": "first"
            },
            {
              "value": "second",
              "label": "second"
            }
          ],
          "default": "first"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Beauty Banner"
    }
  ]
}
{% endschema %}
