<div
  class="beauty-section banner"
>
  <style>
    .col .content {
      width: auto;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 4rem;
      margin: 0 12rem;
      background-color: black;
    }
  </style>

  <div class="wrapper">
    <div
      class="
        grid grid-cols-[60%_auto] gap-8
        h-screen
        *:rounded-t-[4.5rem] *:h-full *:p-4 *:bg-[#f00] *:bg-center *:bg-cover
      "
    >
      <div
        class="col col1"
      >
        <div
          class="
            content
            !mr-0
          "
        ></div>
      </div>

      <div
        class="
          col col2
          bg-[url(https://m.media-amazon.com/images/I/91HHhp2-8YL._SL1500_.jpg)]
        "
      ></div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "BeautyBanner",
  "settings": [
    {
      "type": "color",
      "id": "col1_bg_color",
      "label": "Column1 background color",
      "default": "#000"
    }
  ],
  "blocks": [
    {
      "type": "beautyText",
      "name": "Beauty Text",
      "limit": 11,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Color",
          "default": "#000"
        },
        {
          "type": "checkbox",
          "id": "override_color",
          "label": "Override theme Text-color",
          "default": false
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Beauty Banner"
    }
  ]
}
{% endschema %}
