body {
    font-size: var(--font-body-size);
    font-weight: var(--font-body-weight);
    line-height: 1.65;
    font-family: var(--font-body-family);
    font-style: var(--font-body-style);
    color: var(--font-body-color);
}